<footer id="footer">
  <div class="content-Wrapper">
    <div class="section-title">QLEAR</div>
    <ul class="link-list">
      <li class="link-item">
        <a href='https://qlear.build/about'>About</a>
      </li>
      <li class="link-item">
        <a href='https://qlear.build/termsandservices'>Terms & Services</a>
      </li>
      <li class="link-item">
        <a href='https://qlear.build/changelog'>Change Log</a>
      </li>
      <li class="link-item">
        <a href='/'>Guide</a>
      </li>
    </ul>
  </div>
  <div class="content-Wrapper">
    <div class="copyright">
      <%= config.author || config.title %> &copy; <%= date(new Date(), 'YYYY') %>. All Rights Reserved.
      <a class="beian" href="http://www.beian.gov.cn" target="_blank">沪ICP备11038237号-4</a>
    </div>
  </div>
</footer>



