#footer
  background: color-footer-background
  border-top: 1px solid color-border
  color: color-grey
  overflow-y: auto;
  min-height: 200px;
  padding: 50px 20px 0 20px;
  font-weight: 200;
  font-family: ultima, Arial, sans-serif;
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  .content-Wrapper
    margin: 0 auto;
    max-width: 1024px;

  .section
    display: inline-block;
    padding: 15px 50px;
    vertical-align: top;

  .section-title
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 100;
    color: #007EA2;

  ul.link-list
    margin: 0;
    padding: 0;
    list-style: none;

  .link-item > a
    font-size: 14px;
    color: #999;

  .copyright
    padding: 20px 15px 5px;
    text-align: right;
    font-size: 14px;
    color: #555;

  .beian
    margin-left: 15px;
    color: #555;


#footer-info
  line-height: line-height
  font-size: 0.85em