
#home 
  max-width: 715px
  margin: 10px auto 50px auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  

.home-category
  width: 50%
  padding-left: 80px
  box-sizing: border-box
  @media (max-width: 600px) {
    width: 100%
    padding-left: calc(50vw - 100px)
  }
  .sub
    text-indent: 10px
  h2
    font-size: 20px
    font-weight: 500
    line-height: 20px
    margin: 25px 0 15px 0
    cursor: default
  ul
    a
      display: inline-block
      max-width: 100%
      overflow: hidden
      vertical-align: middle
      white-space: nowrap
      text-overflow: ellipsis
      -o-text-overflow: ellipsis
      color: #079fd2
      text-decoration: none
      &:hover
        color: #464b51





