
#home 
  overflow: hidden
  max-width: 715px
  margin: 10px auto 50px auto
  

.home-category
  width: 50%
  float: left
  h2
    font-size: 20px
    font-weight: 500
    line-height: 20px
    margin: 25px 0 15px 0
    cursor: default
  ul
    margin-left: 20px
    a
      display: inline-block
      max-width: 100%
      overflow: hidden
      vertical-align: middle
      white-space: nowrap
      text-overflow: ellipsis
      -o-text-overflow: ellipsis
      color: #079fd2
      text-decoration: none
      &:hover
        color: #464b51





